:root {
  --roboto-regular: normal 400 1em "Roboto", sans-serif;
  --roboto-medium: normal 500 1em "Roboto", sans-serif;
  --roboto-bold: normal 700 1em "Roboto", sans-serif;
  --roboto-regular-italic: italic 400 1em "Roboto", sans-serif;
  --roboto-medium-italic: italic 500 1em "Roboto", sans-serif;
  --roboto-bold-italic: italic 700 1em "Roboto", sans-serif;

  --bg-color: #f5f5f5;
  --text-color: #6c757d;
  --accent-color: #ffd333;
  --contrast-color: #3d464d;
}